@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* colors  */
  --blue: #2563eb;
  --dark-blue: #1e40af;
  --white: #ffffff;
  --black: #000102;
  --body-txt: #575757;
  --stroke-color: hsl(220, 13%, 91%);
  --bg-neviblue: #0d1b2a;

  /* transition  */
  --transition: all 0.3s ease;
}

/* overall  */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* sections padding */
header,
footer,
section {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* container */
.container {
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    background-color: var(--dark-blue);
  }
}

/* header  */
header {
  padding-top: 20px;
  padding-bottom: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  width: 130px;
  height: auto;
}
.main-menu ul {
  display: flex;
  gap: 30px;
  list-style: none;

  a {
    color: var(--body-txt);
    font-size: 18px;
    font-weight: 500;
    &:hover {
      color: var(--blue);
    }
  }
}

/* hero section  */
.hero {
  height: 700px;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%),
    linear-gradient(
      212.62deg,
      rgba(0, 0, 0, 0) 42.904%,
      rgba(0, 0, 0, 0.88) 82.175%
    ),
    url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.hero-content {
  text-align: center;
  max-width: 950px;
  color: var(--white);
}
h1 {
  font-size: 80px;
  margin-bottom: 24px;
}

.hero-body {
  font-size: 22px;
  opacity: 0.9;
}

.btn-hero {
  font-size: 18px;
  padding: 12px 30px;
}

/* speakers section */

h2 {
  font-size: 35px;
  margin-bottom: 16px;
  text-align: center;
}

.speaker-sec-title {
  margin-bottom: 56px;
}

.speakers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.speaker-card {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--stroke-color);
}

.speaker-img {
  width: 100%;
  height: 330px;
  object-fit: cover;
}

.card-content-wrap {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}
.card-label {
  font-size: 12px;
  color: var(--blue);
  font-weight: 600;
  text-transform: uppercase;
}

/* pricing section  */
.pricing-sec-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 56px;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.pricing-card {
  border-radius: 12px;
  padding: 32px;
  overflow: hidden;
  border: 1px solid var(--stroke-color);
}

.pricing-type {
  font-size: 13px;
  text-transform: uppercase;
  color: var(--body-txt);
  margin-bottom: 16px;
  font-weight: 600;
}
.price {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 0px;
}

.users {
  color: var(--body-txt);
  font-size: 13px;
}

.price-card-list {
  padding-top: 20px;
  border-top: 1px solid var(--stroke-color);
  margin: 20px 0;
}
.price-card-list li {
  /* display: block; */
  margin-left: 1em;

  &::marker {
    color: var(--blue);
  }
}
